<%
  maires ||= @maires
  sommaire ||= @sommaire
%>
<h2>Mairie de Montréal</h2>
<table>
  <tr>
    <td>
      <table>
        <tr>
          <th>Candidat</th>
          <th class="numeric">Voix</th>
          <th class="numeric"/>
          <th class="numeric">Majorité</th>
        </tr>
        <% maires.each do |maire| %>
          <tr class="<%= cycle('odd', 'even') %>">
            <td class="nom <%=maire.parti.html_class%>"><%=maire%></td>
            <td class="numeric"><%=maire.nb_voix_obtenues%></td>
            <td class="numeric"><%=maire.pourcentage%>%</td>
            <td class="numeric <%=html_class_voix_majorite_maire(maire.nb_voix_majorite)%>"><%=maire.nb_voix_majorite%></td>
          </tr>
        <% end %>
      </table>
    </td>
    <td>&nbsp;<br/><img src="http://chart.apis.google.com/chart?cht=bhs&chs=100x140&chd=t:<%=maires.collect {|m| m.pourcentage }.join(',') %>&chco=4d89f9&chbh=a"/></td>
  </tr>
</table>
Participation: <%=sommaire.taux_participation%>%
<!-- img src="http://chart.apis.google.com/chart?cht=p&chd=t:<%=sommaire.taux_participation%>,<%=100-sommaire.taux_participation%>&chs=50x50&chco=00FF00,FF0000"/-->

