<% candidats ||= @candidats %>
<% candidats ||= [] %>
<h2>En avance pour Projet Montréal</h2>
<table>
  <tr>
    <th>Candidat</th>
    <th class="numeric">Voix</th>
    <th class="numeric"></th>
    <th class="numeric">Majorité</th>
    <th class="numeric">#</th>
  </tr>
<% candidats.each do |candidat| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td>
      <div class="nom"><%=candidat%></div>
      <div class="arr_district"><%=candidat.poste.arrondissement%><% if candidat.poste.district %> (<%=candidat.poste.district%>)<% end %></div>
    </td>
    <td class="numeric"><%=candidat.nb_voix_obtenues%></td>
    <td class="numeric"><%=candidat.pourcentage%>%</td>
    <td class="numeric <%=html_class_voix_majorite_poste(candidat.nb_voix_majorite)%>"><%=candidat.nb_voix_majorite%></td>
    <td class="numeric"><%=candidat.position%></td>
  </tr>
<% end %>
</table>

