<% "hey gedit, this is a template" %>
<h2><%=@poste.arrondissement%></h2>
<h3><%=@poste%></h3>
<table>
<tr>
  <th>Candidat</th>
  <th>Voix</th>
  <th>%</th>
  <th>Majorité</th>
</tr>
<% @poste.candidats.each do |candidat| %>
  <tr>
    <td>
      <span class="nom"><%=candidat%></span>
    </td>
    <td class="numeric"><%=candidat.nb_voix_obtenues%></td>
    <td class="numeric"><%=candidat.pourcentage%>%</td>
    <td class="numeric"><%=candidat.nb_voix_majorite%></td>
  </tr>
<% end %>
</table>
<hr/>
<div class="participation">Participation: <%=@poste.taux_participation%>%</div>

