<% "hey gedit, this is a template" %>
<h2><%=@poste.arrondissement%></h2>
<h3><%=@poste%></h3>
<table>
<tr>
  <th>Candidat</th>
  <th class="numeric">Voix</th>
  <th class="numeric"></th>
  <th class="numeric">Majorité</th>
</tr>
<% @poste.candidats.each do |candidat| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td>
      <span class="nom <%=candidat.parti.html_class%>"><%=candidat%></span>
    </td>
    <td class="numeric"><%=candidat.nb_voix_obtenues%></td>
    <td class="numeric"><%=candidat.pourcentage%>%</td>
    <td class="numeric <%=html_class_voix_majorite_poste(candidat.nb_voix_majorite)%>"><%=candidat.nb_voix_majorite%></td>
  </tr>
<% end %>
</table>
<hr/>
<div class="participation">Participation: <%=@poste.taux_participation%>%</div>

